[login]
client_id = ""
token = ""
playing = "with a medieval siege weapon capable of launching 90kg projectiles over 300 meters."

[performance]
servers = 2
threads = 2
timeout = 10000

[bot]
prefix = "!"

[google]
apiToken = ""
appName = ""
